services:
    mongodb:
        image: mongo:5.0.15
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: 123456
        ports:
            - 27017:27017
        volumes:
            - mongodb_family_tree:/data/db

volumes:
    mongodb_family_tree:
